body, html {font-family: "Lato", sans-serif;
            height: 100%;
            margin: 0;
      }

* {
  box-sizing: border-box;
}

.columnGallery{
  float: left;
  width: 23%;
  padding: 6px;
}

.columnGallery img {
  opacity: 0.8;
  cursor:pointer;
}

.columnGallery img:hover{
  opacity: 1;
}

.rowGallery{
    margin-left: 30px;
      margin-top: 10px;
}

.rowGallery:after{
  content: "";
  display: table;
  clear: both;

}

.containerGallery{
  position: relative;
  display: block;
  width: 90%;
  height: 30%;
  margin: 30px;
}

.columnPresent {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.rowPresent:after {
  content: "";
  display: table;
  clear: both;
}

/*To align the title in the middle*/
.title{
  text-align: center;
}


.blockButton {
  display: block;
  width: 100%;
  border: none;
  background-color: #2c2c2c;
  color: white;
  padding: 12px 26px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}

.blockButton:hover {
  opacity: 0.7;
}

.centerIt{
  margin-left: 37%;
  margin-top: 10;
  margin-bottom: 10;
  display: inline-block;
}

/*For the social media icons*/

.fa {
  font-size: 30px;
  padding: 30px;
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #2c2c2c;
  color: white;
  vertical-align: middle;
}

.fa-linkedin {
  background: #2c2c2c;
  color: white;
  font-size: 20;
  vertical-align: middle;
}

.fa-instagram {
  background: #2c2c2c;
  color: white;
  vertical-align: middle;
}


/*To create the arrow from the path*/

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/*To customize hyperlink*/
.linky:link {
  color: black;
}

.linky:visited {
  color: black;
}

.linky:hover {
  color: gray;
}

.linky:active {
  color: #c4c3c3;
}


/*Customize the detail table*/
table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
